# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
data/
*.csv

# Ignore pages notes
*.pages

# Ignore VSCode, Mac settings
.vscode/
.DS_Store
__pycache__/
```
